.About-body {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.About-pic-wrapper {
  margin: 10vh auto;
  flex-basis: 10vw;
}

.About-pic {
  width: 400px;
  max-width: 80vw;
  height: auto;
}

.About-text {
  margin: 0 auto 10vh;
  max-width: 70vw;
  flex-basis: 35vw;
}

.About-text h3 {
  color: black;
  font-family: 'haloregular', "Arial Black", sans-serif;
}

.About-text p {
  color: black;
  font-family: 'avenir light', "Arial Black", sans-serif;
}

@font-face {
  font-family: 'haloregular';
  src: url('fonts/halo.regular-webfont.woff2') format('woff2'),
  url('fonts/halo.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}