.About-body {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.About-col {
  align-self: center;
  flex-basis: 40vw;
}

#About-pic {
  margin-left: 10vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  flex-grow: 1;
  flex-shrink: 0;
}

#About-text {
  margin-right: 10vw;
  flex-grow: 4;
  flex-shrink: 3;
}

#About-text h3 {
  color: black;
  font-family: 'haloregular', "Arial Black", sans-serif;
}

#About-text p {
  color: black;
  font-family: 'avenir light', "Arial Black", sans-serif;
}

@font-face {
  font-family: 'haloregular';
  src: url('fonts/halo.regular-webfont.woff2') format('woff2'),
  url('fonts/halo.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}