.Footer {
  padding-top: 8px;
  padding-bottom: 20px;
  background-color: rgb(32, 32, 32);
  text-align: center;
}

h3 {
  font-family: 'avenir light', light, sans-serif;
  font-size: 15px;
  color: rgb(238, 238, 238);
}

.Footer-links-wrapper a {
  font-family: 'avenir light', "Arial Black", sans-serif;
  color: rgb(238, 238, 238);
  padding: 10px 10px;
  text-decoration: none;
}

.Footer-link-logo {
  max-height: 22px;
  max-width: 22px;
}