.Home {
  background-color: rgb(32, 32, 32);
}

.Home-logo {
  background-color: black;
  height: 85vh;
  background-image: url(/src/images/logos/renajiang-logo.gif);
  background-size: contain;
  background-position: center;
}

.Home-gif {
  display: block;
  margin: auto;
  width: 90vw;
  overflow: hidden;
}