/*Artwork function*/

.Paintings-Artwork {
  margin-top: 2vh;
  margin-bottom:2.5vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.Paintings-Artwork-img {
  order: 1;
  margin: 0 2vw;
  flex-basis: 50vw;
  /*flex-grow: 2;*/
}

.Paintings-Artwork-src {
  max-height: 75vh;
  width: auto;
  min-width: 325px;
  object-fit: contain;
}

.Paintings-Artwork-img img {
  width: 100%;
  height: auto;
}

.Paintings-Artwork-text {
  order: 2;
  margin: 4vh 1vw 0;
  flex-basis: 32vw;
}

.Paintings-Artwork-text h1 {
  font-family: 'avenir', "Arial Black", sans-serif;
  font-size: 25px;
  color: rgb(32, 32, 32);
  margin-bottom: 4vh;
}

.Paintings-Artwork-text h3 {
  font-family: 'avenir light', "Arial Black", sans-serif;
  font-size: 18px;
  color: rgb(32, 32, 32);
}

/*Paintings function*/

.Paintings-header {
  margin-left: 7vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.Paintings-header a, .Paintings-header h1 {
  font-family: 'avenir light', "Arial Black", sans-serif;
  color: rgb(102, 102, 102);
  display: inline;
  font-size: 19px;
  font-style: normal;
  text-decoration: none;
}

.Paintings-header h1 {
  font-family: 'avenir', "Arial Black", sans-serif;
}

.Paintings-carousel {
  height: auto;
}