/*Artwork function*/

.Paintings-Artwork {
  margin-top: 2.5vh;
  margin-bottom:2.5vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.Paintings-Artwork-img {
  order: 1;
  margin: 0 2vw;
  flex-basis: 50vw;
  /*flex-grow: 2;*/
}

.Paintings-Artwork-src {
  max-height: 80vh;
  width: auto;
  object-fit: contain;
}

.Paintings-Artwork-text {
  order: 2;
  margin: 0 2vw;
  flex-basis: 30vw;
  /*flex-grow: 1;*/
}

.Paintings-Artwork-text h1 {
  font-family: 'avenir', "Arial Black", sans-serif;
  font-size: 28px;
  color: rgb(32, 32, 32);
  margin-bottom: 4vh;
}

.Paintings-Artwork-text h3 {
  font-family: 'avenir light', "Arial Black", sans-serif;
  color: rgb(32, 32, 32);
}

.Paintings-Artwork-img img {
  width: 100%;
  height: auto;
}

/*Paintings function*/

.Paintings-header {
  margin-left: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.Paintings-header a, .Paintings-header h1 {
  font-family: 'avenir light', "Arial Black", sans-serif;
  color: rgb(102, 102, 102);
  display: inline;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
}

.Paintings-gallery {
  margin-bottom: 5vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
}

.main-gallery {
  background: #EEE;
}

.gallery-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
  background: #ED2;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}