.Portfolio-categories {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.Portfolio-category {
  align-self: center;
  flex-basis: 50vw;
  text-align: center;
  vertical-align: middle;
}

.Portfolio-categories h1 {
  font-family: 'avenir', "Arial Black", sans-serif;
}

.Portfolio-categories a {
  font-family: 'avenir light', "Arial Black", sans-serif;
  text-decoration: none;
  color: black;
  margin-bottom: 4px;
}